* @dfinity/editorial

# Security
docs/guides/security/ @dfinity/product-security @dfinity/editorial

# DeFi and cross-chain
docs/guides/defi/ @dfinity/defi @dfinity/editorial
docs/guides/chain-fusion/ @dfinity/defi @dfinity/editorial

# Execution
docs/guides/backends/timers.md @dfinity/team-dsm @dfinity/editorial
docs/reference/execution-errors.md @dfinity/team-dsm @dfinity/editorial

# Boundary Node
docs/guides/frontends/custom-domains.md @dfinity/boundary-node @dfinity/editorial

# Trust
docs/guides/frontends/certification.md @dfinity/trust @dfinity/editorial

# Interface Specification
docs/reference/ic-interface-spec.md @dfinity/interface-spec @dfinity/team-dsm @dfinity/consensus
docs/reference/http-gateway-spec.md @dfinity/interface-spec @dfinity/team-dsm @dfinity/consensus

# Languages (synced)
docs/languages/motoko/ @dfinity/languages

# Tools / CLI
docs/guides/tools/ @dfinity/dx @dfinity/editorial
